/**************************************************************************************************
 *
 *  @Section: About Page Specific Styles
 *
***************************************************************************************************/
.about-landing {

	.container {
		background: @off-white;
		padding: 50px 40px;
		margin-bottom: 0;

		@media only screen and (max-width: @breakpoint) {
			padding: 35px 25px;
		}

		&:after { .clear; }

		.sidebar {
			float: left;
			width: 30%;

			@media only screen and (max-width: @breakpoint) {
				margin-bottom: 30px;
				width: 100%;
				float: none;
			}

			img {

				&.headshot {
					border: 1px solid @pink;
					padding: 5px;
				}
			}
		}

		.main-content {
			float: right;
			width: 65%;

			@media only screen and (max-width: @breakpoint) {
				width: 100%;
				float: none;
			}

			h1 {
				font-family: @hd-thin;
				font-size: 4.0rem;
				color: @pink;
				border-bottom: 1px solid @purple;
				margin-bottom: 30px;
			}

			h2 {
				font-size: 2.2rem;
				margin-top: 40px;
			}

			hr {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 20px;
			}

			ul.faqs {

				li {
					padding: 10px 0;
					border-bottom: 1px solid @purple;

					&:first-child {
						border-top: 1px solid @purple;
					}

					h5 {
						font-family: @ht-bold;
						font-size: 1.6rem;
						cursor: pointer;
						position: relative;

						&:after { .clear; }

						.icon-faq-arrow {
							margin-left: 0;
							position: absolute;
							top: 50%;
							right: 8px;
							.centered-vertically(-50%);
						}

						&.open {

							.icon-faq-arrow {
								background-position: 0 -28px;
							}
						}
					}

					.answer {
						max-height: 0;
						overflow: hidden;
						.transition(max-height, 0.8s, ease-in-out);

						&.open {
							max-height: 800px;
						}

						> *:first-child {
							margin-top: 25px;
						}

						> *:last-child {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}

