/**************************************************************************************************
 *
 *  @Section: Global Buttons & Global Link's Styles
 *
***************************************************************************************************/
.btn {
	font-family: @ht-medium;
	background-color: @pink;
	color: @white;
	font-size: 1.8rem;
	text-align: center;
	padding: 10px 20px;
	display: inline-block;
	white-space: nowrap;
}

.links {
	font-family: @ht-medium;
	font-size: 2rem;
	color: @pink
}