/**************************************************************************************************
 *
 *  @Section: Global Buttons & Global Link's Styles
 *
***************************************************************************************************/
.btn {
  background-color: @pink;
  color: @white;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  white-space: nowrap;
}