/**************************************************************************************************
 *
 *  @Section: Global Styles
 *
***************************************************************************************************/
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: @ht-light;
	font-size: 1.4rem;
	line-height: 1.3;
	background: @white;
	color: @dark-gray;
	background-image: url(img/bg-main.jpg);
	background-repeat: repeat-x;
	background-position: center 123px;
	// background-size: 100% auto;

	&.no-overflow {
		overflow: hidden;
	}

	@media only screen and (max-width: @breakpoint) {
		background-position: center 106px;
	}
}

.browser-upgrade {
	background-color: rgba(255, 255, 255, 0.86);
	color: @black;
	width: 100%;
	height: 100%;
	font-size: 3.8rem;
	text-align: center;
	padding: 24%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;

	a {
		color: @pink;
		text-decoration: underline;
	}
}

a {
	text-decoration: none;
	display: inline-block;
	color: @dark-gray;

	&:hover {
		text-decoration: none;
	}

	&:focus,
	&:active {
		text-decoration: none;
		color: auto;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
}

hr {
	width: 33px;
	margin: 10px 0 15px;
	border: 0;
	border-bottom: 2px solid @black;

	&.purple-hr {
		border-color: @purple;
	}
}

em {
	font-family: @ht-italic;
}

strong {
	font-family: @ht-medium;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	z-index: 10;
}

.main-content-wrapper {
	padding-top: 30px;

	&:after { .clear; }
}

.main-page-title {
	font-size: 4.0rem;
	font-family: @hd-thin;
	color: @pink;
	margin: 0 auto 30px;
	padding: 0 0 10px;
	border-bottom: 1px solid @purple;
	line-height: 0.8;
}

.content {
	background: @off-white;
}

section {
	width: 100%;
	position: relative;
}

.container {
	width: @default-width;
	min-width: @default-min-width;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;

	&:after { .clear; }

	@media only screen and (max-width: @breakpoint) {
		width: 94%;
		min-width: 0;
		padding: 50px 20px;
	}

	article {
		clear: both;
	}
}

.wp-pagenavi {
	float: right;
	margin-bottom: 20px;

	&:after { .clear; }

	a,
	span,
	a:hover,
	span.current {
		border: 0;
		padding: 1px 5px 3px;
		display: inline-block;
		margin: 0 2px;
	}

	a:hover,
	span.current {
		background-color: @pink;
		color: @white;
	}
}


/**************************************************************************************************
 *
 *  @Section: Generic Post/Default Styles
 *
***************************************************************************************************/
.generic-post {

	.container {
		padding: 40px;

		@media only screen and (max-width: @breakpoint) {
			margin-bottom: 0;
		}

		article {

			&:after { .clear; }

			.media-container-video {
				border: 1px solid @purple;
				padding: 15px 15px 11px;
				margin-bottom: 50px;
				display: inline-block;

				@media only screen and (max-width: @breakpoint) {
					margin-bottom: 20px;
				}

				iframe {

					@media only screen and (max-width: @breakpoint) {
						width: 100% !important;
						height: auto !important;
					}
				}
			}

			.media-container-photo {
				width: 30%;
				float: left;

				@media only screen and (max-width: @breakpoint) {
					width: 100%;
					float: none;
					margin-bottom: 20px;
				}

				img {
					padding: 15px;
					border: 1px solid @purple;
				}
			}

			.media-container-photo + .generic-post-content {
				width: 66%;
				float: right;

				@media only screen and (max-width: @breakpoint) {
					width: 100%;
					float: none;
				}
			}

			.generic-post-content {

				> h1,
				.event-heading h1 {
					font-size: 4.0rem;
					line-height: 0.9;
					color: @pink;
					display: block;
					border-bottom: 1px solid @purple;
					overflow: visible;

					@media only screen and (max-width: @breakpoint) {
						font-size: 3.0rem;
					}
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin-bottom: 25px;
				}

				p + h1,
				p + h2,
				p + h3,
				p + h4,
				p + h5,
				p + h6,
				ol + h1,
				ol + h2,
				ol + h3,
				ol + h4,
				ol + h5,
				ol + h6,
				ul + h1,
				ul + h2,
				ul + h3,
				ul + h4,
				ul + h5,
				ul + h6 {
					// padding-top: 20px;
				}

				h2 {
					font-size: 2.4rem;
				}

				h3 {
					font-size: 2.0rem;
				}

				h4 {
					font-size: 1.8rem;
				}

				h5 {
					font-size: 1.6rem;
				}

				h6 {
					font-size: 1.2rem;
				}

				ol,
				ul,
				p {
					margin-bottom: 15px;
				}

				> div {
					margin-bottom: 50px;

					p:last-child {
						margin-bottom: 0;
					}

					a {
						color: @pink;

						// No hover states on devices smaller than 767px (Mobile Devices)
						@media only screen and (min-width: @breakpoint) {

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				p {
					font-size: 1.4rem;
					line-height: 1.4;

					em {
						font-family: @ht-light-italic;
					}
				}

				.author {
					font-size: 1.1rem;
					font-style: italic;
					float: right;
					display: block;
				}

				img {

					&.size-thumbnail,
					&.size-medium,
					&.size-full {
						width: auto;
						height: auto;
					}

					&.alignleft {
						float: left;
						margin-right: 15px;
						margin-bottom: 15px;
					}

					&.aligncenter {
						margin: 0 auto 15px;
					}

					&.alignright {
						float: right;
						margin-left: 15px;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}


/**************************************************************************************************
 *
 *  @Section: Forms
 *
***************************************************************************************************/
form {
	width: 100%;
}

.gform_wrapper {
	margin: 0 auto !important;
	max-width: 100% !important;

	form {

		h3.gform_title {
			font-family: @hd-thin;
			font-size: 4.0rem;
			font-weight: normal;
			color: @pink;
			margin: 0 0 30px;
			border-bottom: 1px solid @purple;
			line-height: 0.8;
			padding-bottom: 10px;

			@media only screen and (max-width: @breakpoint) {
				font-size: 3.0rem;
			}
		}

		.gform_description {
			font-family: @ht-light;
			font-size: 1.4rem;
			margin-bottom: 40px;
			display: block;
		}

		.gfield_required {
			color: @hot-pink;
		}

		ul {

			li {
				margin-bottom: 20px;

				&.half-width {
					width: 48%;

					@media only screen and (max-width: @breakpoint) {
						width: 100%;
					}
				}

				&.left {
					float: left;

					@media only screen and (max-width: @breakpoint) {
						float: none;
					}
				}

				&.right {
					float: right;

					@media only screen and (max-width: @breakpoint) {
						float: none;
					}
				}

				&.gfield {
					clear: none;

					&.full-width {
						clear: both;
					}
				}

				label {
					font-family: @ht-bold;
					font-size: 1.6rem;
				}
			}
		}

		.hidden_label,
		.top_label {
			color: @dark-gray;

			input[type="text"],
			input[type="email"],
			input[type="search"],
			input[type="tel"],
			input[type="url"],
			input[type="password"],
			select,
			textarea {
				border: 1px solid #e6e6e6;
				padding: 5px 10px;
				line-height: 1.4;

				&.large {
					width: 100%;
				}
			}
		}
	}
}


/**************************************************************************************************
 *
 *  @Section: Icons
 *
***************************************************************************************************/
i {
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;

	@media only screen and (max-width: @breakpoint) {
		margin-left: 5px;
	}

	&.icon-dbl-arrow-pink {
		background-image: url(img/arrow-dbl-pink.png);
		width: 9px;
		height: 9px;
		font-size: 2.0rem;
	}

	&.icon-dbl-arrow-white {
		background-image: url(img/arrow-dbl-white.png);
		width: 9px;
		height: 9px;
		font-size: 2.0rem;
	}

	&.icon-faq-arrow {
		background-image: url(img/icon-faq-arrow-sprite.png);
		background-position: 0 0;
		width: 17px;
		height: 9px;
	}
}

