/**************************************************************************************************
 *
 *  @Section: Global Styles
 *
***************************************************************************************************/
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: @ht-light;
	font-size: 1.4rem;
	line-height: 1.3;
	background: @white;
	color: @dark-gray;
	background-image: url(img/bg-main.jpg);
	background-repeat: no-repeat;
	background-position: center 123px;
	// background-size: 100% auto;
}

.browser-upgrade {
	background-color: rgba(255, 255, 255, 0.86);
	color: @black;
	width: 100%;
	height: 100%;
	font-size: 3.8rem;
	text-align: center;
	padding: 24%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;

	a {
		color: @pink;
		text-decoration: underline;
	}
}

a {
	text-decoration: none;
	display: inline-block;
	color: @dark-gray;

	&:hover {
		text-decoration: none;
	}

	&:focus,
	&:active {
		text-decoration: none;
		color: auto;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
}

hr {
	width: 33px;
	margin: 10px 0 15px;
	border: 0;
	border-bottom: 2px solid @black;

	&.purple-hr {
		border-color: @purple;
	}
}

em {
	font-family: @ht-italic;
}

strong {
	font-family: @ht-medium;
}

.main-content-wrapper {
	padding-top: 30px;

	&:after { .clear; }
}

.main-page-title {
	width: 90%;
	font-size: 4rem;
	font-family: @hd-thin;
	color: @pink;
	margin: 0 auto 30px;
	padding: 0;
	border-bottom: 1px solid @purple;
}

.content {
	background: @off-white;
}

section {
	width: 100%;
	position: relative;
}

.container {
	width: @default-width;
	min-width: @default-min-width;
	padding: 50px 0;
	margin: 0 auto 25px;
	position: relative;
}


/**************************************************************************************************
 *
 *  @Section: Generic Post/Default Styles
 *
***************************************************************************************************/
.generic-post {

	.container {
		padding: 40px;

		article {

			&:after { .clear; }

			.media-container-video {
				border: 1px solid @purple;
				padding: 15px 15px 11px;
				margin-bottom: 50px;
				display: inline-block;
			}

			.media-container-photo {
				width: 30%;
				float: left;

				img {
					padding: 15px;
					border: 1px solid @purple;
				}
			}

			.media-container-photo + .generic-post-content {
				width: 66%;
				float: right;
			}

			.generic-post-content {

				h1 {
					font-size: 4.0rem;
					line-height: 0.9;
					color: @pink;
					display: block;
					border-bottom: 1px solid @purple;
					overflow: visible;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin-bottom: 35px;
				}

				p + h1,
				p + h2,
				p + h3,
				p + h4,
				p + h5,
				p + h6,
				ol + h1,
				ol + h2,
				ol + h3,
				ol + h4,
				ol + h5,
				ol + h6,
				ul + h1,
				ul + h2,
				ul + h3,
				ul + h4,
				ul + h5,
				ul + h6 {
					padding-top: 20px;
				}

				h2 {
					font-size: 3.0rem;
				}

				h3 {
					font-size: 2.4rem;
				}

				h4 {
					font-size: 1.8rem;
				}

				h5 {
					font-size: 1.6rem;
				}

				h6 {
					font-size: 1.2rem;
				}

				> div {
					margin-bottom: 50px;

					p:last-child { margin-bottom: 0; }

					a {
						color: @pink;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				p {
					font-size: 1.4rem;
					line-height: 1.4;
					margin-bottom: 15px;
				}

				.author {
					font-size: 1.1rem;
					font-style: italic;
					float: right;
					display: block;
				}
			}
		}
	}
}


/**************************************************************************************************
 *
 *  @Section: Icons
 *
***************************************************************************************************/
i {
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;

	&.icon-dbl-arrow-pink {
		background-image: url(img/arrow-dbl-pink.png);
		width: 9px;
		height: 9px;
		font-size: 2.0rem;
	}

	&.icon-dbl-arrow-white {
		background-image: url(img/arrow-dbl-white.png);
		width: 9px;
		height: 9px;
		font-size: 2.0rem;
	}
}


/**************************************************************************************************
 *
 *  @Section: Mobile Styles
 *
***************************************************************************************************/
@media only screen and (max-width: @breakpoint) {

}




