/**************************************************************************************************
 *
 *  @Section: Header Specific Styles
 *
***************************************************************************************************/
header {
	background: @white;
	padding-bottom: 5px;

	&:after { .clear; }

	.row-one,
	.row-two {

		.container {}
	}

	.row-one {

		.container {
			padding-top: 60px;

			.logo {
				line-height: 0.8;

				a {
					font-family: @hd-thin;
					font-size: 4.3rem;
					color: @pink;
					position: relative;
				}
			}
		}
	}

	.row-two {
		border-top: 1px solid @purple;
		border-bottom: 1px solid @purple;
		margin: 0 0 5px;
	}
}


/**************************************************************************************************
 *
 *  @Section: Navigation Specific Styles
 *
***************************************************************************************************/
.nav {
	text-align: right;

	li {
		display: inline-block;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		&.current {
			border-bottom: 2px solid @pink;
			margin-bottom: -2px;
		}

		a {
			font-family: @hd-thin;
			font-size: 1.6rem;
			padding: 4px 0 3px;
			position: relative;
			display: block;

			&:after {
				background-color: @pink;
				height: 2px;
				position: absolute;
				bottom: 6px;
				left: 0;
				right: 0;
				content: '';
				opacity: 0;
				.transition();
			}

			&:hover {

				&:after {
					bottom: -2px;
					opacity: 1;
				}
			}
		}

		&.current-menu-item a:after {
			bottom: -2px;
			opacity: 1;
		}
	}
}
